@font-face {
    font-family: kinetika;
    src: url('kinetika-black.ttf') format('truetype'), url('kinetika-black.ttf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
@font-face {
    font-family: kinetika-light;
    src: url('Kastelov\ -\ Kinetika\ Light.otf') format('truetype'), url('Kastelov\ -\ Kinetika\ Light.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;   
    font-family: kinetika;
}

/*----------CARRINHO----------*/
body{
    background-color: rgb(238, 238, 238);
}
h2{
    font-family: kinetika;
    padding: 20px;
}

div.endereco{
    background-color: #fff;
    height: 45vh;
    width: 50vw;
    border-radius: 7px;
    padding: 30px;
    margin: 20px;
}
div.linha{
    width: 50vw;
    height: 1px;
    background-color: #e44800;
}
div.container {
    height: 100%;
    border: 1px solid rgb(0, 0, 0);  
    width: 80%;
}
div.div-img {
    width: 20%;
    display: inline-block;
    border: 1px solid red;  
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:20vw;

}
div.div-img img {
    width: 85%;
    text-align: center;
    height: 100%;
}
div.div-info {
    width: 25%;
    border: 1px solid green;  
    display: inline-block;
    text-align: left;
    padding: 5vw 0vw 5vw 0vw;
    min-width:25vw;
    height: 50vh;
    align-content: center;
}
div.resumo {
    width: 20%;
    display: inline-block;
    border: 1px solid rgb(0, 247, 255);  
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:20vw;
    background-color: aqua;
}
.remover_carrinho{
    background-color: #f35900;
    color: #fff;
    padding: 15px;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    margin-top: 10px;
    width: 15%;
    text-align: center;
}
.remover_carrinho a{
    text-decoration: none;
    color: #fff;
}
.remover_carrinho:hover{
    background-color: #f31c00;
    cursor: pointer;
}
.qtd{
   background-color: #e4ab00;
   border-radius: 50%;
   color: #fff;
   width: 28px;
   height: 28px;
   font-size: 20px;
   text-align: center;
   align-items: center;
   align-self: center;
   margin-left: 10%;
   display: inline-block;
}
.menos1_carrinho{
    background-color: #e44800;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-left: 10%;
    display: inline-block;
 }
.menos1_carrinho a{
    color: #fff;
    text-decoration: none;
 }
