@font-face {
    font-family: kinetika;
    src: url('kinetika-black.ttf') format('truetype'), url('kinetika-black.ttf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
@font-face {
    font-family: kinetika-light;
    src: url('Kastelov\ -\ Kinetika\ Light.otf') format('truetype'), url('Kastelov\ -\ Kinetika\ Light.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;   
}

/*-----------LOGIN-----------*/
.login{
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    padding: 80px;
    border-radius: 15px;

}
/*-----------CARROSSEL DE IMAGENS------------*/

.slide{
    height: 70vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    margin-top: 37px;
}
.slides{
    width: 5120px;
    display: flex;
}
.image img{
    width: 100vw;
}
#atual{
    transition: all 2s;
}
.btn{
    position:absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}
.btn:hover{
    transform: scale(1.5);
}
#voltar{
    top: 50%;
    left: 1%;
}
#next{
    top: 50%;
    right: 1%;
}
.balls{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
.balls div{
    transition: all 0.5s;
    border: 2px solid #fff;
    padding: 4px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: none;
}
.balls div:hover{
    background: #fff;
}
.imgAtual{
    background-color: #fff;
    transition: all 0.5s;
}

/*----------PRODUTOS---------*/

h3{

    padding: 20px 0px 15px 60px;
    font-size: 23px;
    color: #0F0059;
    font-family: kinetika; 
}

#produtos{
    padding: 10px 5px 10px 5px;
    
    margin: 5px 5px 0px 10px;
    width: 350px;
    position: relative;
}
.produto-single{
    box-shadow: 4px 2px 5px 5px #e7e7e7;
    border-radius: 5px;   

    width:auto;
    margin-bottom: 20px ;
}
.produto-single:hover{
    cursor: pointer;
    box-shadow: 4px 2px 5px 5px #e2e2ff;
    background-color: #f6f6ff;
}
.pai{
   align-items: center;
   align-self: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
}
p{
    font-size: 16px;
    color: #0F0059;
}
.info{
    padding: 10px 10px -4px 10px;
    width: 300px;
    font-family: kinetika;  
}
.descricao{
    font-family: kinetika-light;
    font-weight: 900;
}
.nome_produto{
    text-align: center;
    padding: 15px 15px 10px 15px; 
    font-size: 25px;
    color: #F3B700;
    font-family: kinetika;  
}
.preco{
    text-align: center;
    padding: 10px; 
    font-size: 20px;
    color: #F3B700;
    font-family: kinetika;  
}
.img_produto{
    text-align: center;
  
}
.img_produto img{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px  5px 0px 0px ; 
}
.btn-info{
    text-align: center;
    padding: 12px;
    background-color: #F3B700;
    width: 60%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    transform: translateX(0) scale(0.8);
}
.btn-info p {
    font-family: kinetika;
}
.btn-info a {
    text-decoration: none;
}
.btn-info:hover,
.btn-info:focus{
    cursor: pointer; 
    background-color: #ffd659;
    transform: translateX(0) scale(1.0);
    transition: 0.5s ease-in;
}
#undIndex{
    font-family: kinetika-light;
    font-weight: 900;
    font-size: 14px;
    color: #0F0059;
}
@media screen and (max-width:600px) {
    #produtos{
        margin: 0; 
        padding: 0 2%;
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }
    .produto-single{
        width: 85%;   
        padding: 12px 12px 12px 12px;
       border-radius: 5px;
    }
  
}  

