/*-----------HEADER-----------*/

.box{
    height: 3vh;
    border-bottom: 1px solid #0f00593b;
    border-top:  1px solid #0f00593b;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.nav-logar{
    display: flex;
    list-style: none;
    left: 0;
    align-items: center;
    font-family: kinetika; 
}
.nav-logar li{
    margin-left: 27px;
    padding: 7px;
    margin-top: 0px;
}
.btn-logar{
    margin-top: -5px;
    display: flex;
    margin-left: 40px;
    height: 30px;
}

.btn-logar a{
    text-decoration: none;
    font-family: kinetika;
    color: #F3B700;
    display: flex;
    width: 180px;
    text-align: center;
    align-items: center;
    margin-left: 20px; 
}

.btn-logar2{
    margin-top: -5px;
    display: flex;
    margin-left: 25px;
    height: 30px;
}

.btn-logar2 a{
    text-decoration: none;
    font-family: kinetika;
    color: #F3B700;
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    margin-left: 20px; 
}
#cadastro{
    font-size: 15px;
    margin-right: 10px;
}
#img-account{
    margin-right: 10px;
}
.logo{
    background-color: #0f0059da;
    color: #F3B700;
    letter-spacing: 4px;
}
.logo{
    border-radius: 5px;
    padding: 7px;   
}
.inputSearch input[type=text]{
    padding-left: 35px;
    border: 1px solid  #0f00597e;
    outline: none;
    background-color: #ffffff00;
    border-radius: 3px;
    height: 29px;
    width: 500px;
    margin-left: 15px ;
}
.inputSearch{
    position: relative;
}
.inputSearch i{
    position: absolute;
    left: 0;
    top: 2.5px;
    padding: 6px;
    padding-left: 22px;
    color: #e4ab00;
    
}

/*-----------MENU------------*/

.nav-list{
    display: flex;
    height: 10vh;
    list-style: none;
    left: 0;
    background-color: #0f00590c;
    align-items: center;
    font-family: kinetika; 
}
.nav-list li{
    margin-left: 70px;
    font-weight: bolder;
    padding: 7px;
    margin-top: 0px;
}
.produtoshover{
    font-family: kinetika-light;
}
.produtoshover:hover{
    border-bottom: 2px solid #F3B700;
}
div > ul > li > a{
    color:  #0F0059;
    text-decoration: none;
}
#home{
    border-bottom: 2px solid #F3B700;
}
.carrinho{
    background-color: #F3B700;
    color: #0F0059;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    align-items: center;
}
.carrinho:hover{
    background-color: #e4ab00;
    cursor: pointer;
}


@media screen and (max-width:600px) {

    .nav-list{       
        margin: auto;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .nav-list li{
        margin-left: 0;
    } 
}  
