*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kinetika;
    src: url('kinetika-black.ttf') format('truetype'), url('kinetika-black.ttf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: kinetika-light;
    src: url('Kastelov\ -\ Kinetika\ Light.otf') format('truetype'), url('Kastelov\ -\ Kinetika\ Light.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
.nome{
    font-family: kinetika;
}
.light{
    font-family: kinetika-light;
}
.endereco{
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius:7px;
    border: dashed 2px rgb(194, 194, 194);
    font-family: kinetika-light;
    font-weight: 900;
    text-align: center;

}
.mais{
    font-family: kinetika-light;
    font-size: 70px;
    margin-top: -20px;
    text-align: center;
}
a .mais {
    text-decoration: none;
}
.div1{
    border: 1px solid black;
    width: 40%;
    padding: 30px;
    border-radius: 7px;
}
.atualizar{
    display: flex;
    font-family: kinetika;
}
.atualizar2{
    display: flex;
    margin-right: 25px;
    
}
.atualizar a{
    color: rgb(27, 0, 145);
}