@font-face {
    font-family: kinetika;
    src: url('kinetika-black.ttf') format('truetype'), url('kinetika-black.ttf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
@font-face {
    font-family: kinetika-light;
    src: url('Kastelov\ -\ Kinetika\ Light.otf') format('truetype'), url('Kastelov\ -\ Kinetika\ Light.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;

}
.div1{
    background-color: #dce0e7;
}
h3{
    padding: 20px 0px 15px 60px;
    font-size: 23px;
    color: #0F0059;
    font-family: kinetika; 
}

#produtos{
    padding: 10px 5px 10px 5px;
    width: 350px;
    flex-wrap: wrap;
    position: relative;
}
.produto-single{
    padding: 10px;
    border-radius: 5px;   
    width:auto;
    background-color: #ffffff;
}
.produto-single:hover{
    cursor: pointer;
    background-color: #f6f6ff;
    box-shadow: 3px 3px 8px #727272;
    transition: 0.5s;
}
.pai{
   align-items: center;
   align-self: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    color: #0F0059;
}
.info{
    padding: 10px 10px -4px 10px;
    width: 300px;
    font-family: kinetika;  
}
.descricao{
    font-family: kinetika-light;
    font-weight: 900;
}
.nome_produto{
    text-align: center;
    padding: 15px 15px 10px 15px; 
    font-size: 25px;
    color: #F3B700;
    font-family: kinetika;  
}
.preco{
    text-align: center;
    padding: 10px; 
    font-size: 25px;
    color: #0F0059;
    font-family: kinetika;  
}
.img_produto{
    text-align: center;
  
}
.img_produto img{
    width: 100%;
    margin: 0;
    padding: 0;

}
.btn-info{
    text-align: center;
    padding: 10px 12px 10px 12px;
    background-color: #F3B700;
    width: 50%;
    margin: auto;  
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    transform: translateX(0) scale(0.8);
}
.btn-info p {
    font-family: kinetika;
    font-size: 22px;
}
.btn-info:hover,
.btn-info:focus{
    cursor: pointer; 
    background-color: #ffd659;
    transform: translateX(0) scale(1.0);
    transition: 0.5s ease-in;
}
.btn-comprar{
    text-align: center;
    padding: 10px 12px 10px 12px;
    background-color: #F3B700;
    width: 50%;
    margin: auto;  
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    transform: translateX(0) scale(0.8);
}
.btn-comprar p {
    font-family: kinetika;
    font-size: 22px;
}
.btn-comprar:hover,
.btn-comprar:focus{
    cursor: pointer; 
    background-color: #f36d00;
}
p #comprar{
    padding: 0px 10px 20px 10px;
    color: #0F0059;
}
.btn-comprar i{
    font-size: 30px;
    color: #0F0059;
}
#undIndex{
    font-family: kinetika-light;
    font-weight: 900;
    font-size: 14px;
    color: #0F0059; 
}

@media screen and (max-width:600px) {
    #produtos{
        margin: 0; 
        padding: 0 2%;
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }
    .produto-single{
        width: 85%;   
        padding: 12px 12px 12px 12px;
       border-radius: 5px;
    }
  
}  

.img-banner{
    padding: 30px;
    display: flex;
    margin: auto;
    width: 80vw;
    
}
.img-banner img {
    width: 100%;
}
p.semProduto {
    font-family: kinetika;
    font-size: 20px;
    color: #f36d00;
}