*{
    box-sizing: border-box;
    font-family: "Helvetica";
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    font-weight: 900;
    font-size: 16px;
    background-color: rgb(205, 255, 238);
    border: 1px solid rgb(101, 202, 168);
    color: rgb(27, 54, 45); 
    border-radius: 3px;
    
}
button:hover{
    cursor: pointer;
    background-color: rgb(177, 236, 217);
}
.calculadora {
    width: 350px;
    height: 300px;
    display: grid;
    grid-template-areas: 'numero numero numero numero'
                         'b7 b8 b9 bd'
                         'b4 b5 b6 bX'
                         'b1 b2 b3 bsub'
                         'b0 b0  bresul bsom'; 
    gap: 3px;      
    border: 1px solid rgb(101, 202, 168);
    background-color: rgba(152, 255, 221, 0.096);
    border-radius: 5px;
    padding: 10px;                
}
#numero{
    grid-area:numero;
}
.b7{
    grid-area: b7;
}
.b8{
    grid-area: b8;
}
.b9{
    grid-area: b9;
}
.bd{
    grid-area: bd;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
}
.b6{
    grid-area: b6;
}
.bX{
    grid-area: bX;
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.bsub{
    grid-area: bsub;
}
.b0{
    grid-area: b0;
}
.bsom{
    grid-area: bsom;
}
.bresul{
    grid-area: bresul;
}
input{
    height: 50px;
    border: 1px solid rgb(101, 202, 168);
    color: rgb(27, 54, 45); 
    outline: none;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -10px;
}


